aiohttp
aiohttp-retry
aiosignal
asgiref
attrs
blinker
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
Django
django-crispy-forms
django-email
django-environ
Flask
frozenlist
idna
itsdangerous
Jinja2
MarkupSafe
multidict
pillow
psycopg2
PyJWT
requests
sqlparse
twilio
tzdata
urllib3
Werkzeug
yarl